<!DOCTYPE HTML>
<html>
  <head>
    <title> {{page.title}} </title>
    <link href="https://fonts.googleapis.com/css?family=Karma|Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.4.0/gridlex.css" />
    <script src="https://use.fontawesome.com/a85b98fd69.js"></script>
    <link rel="stylesheet" href="/styles/styles.css" />
    <!-- find out what goes in the head and put it in the head answer: css fonts and seo things tab id words-->
  </head>
  <body>
    <header id="home" class="grid">
      <div class="col-3">
      </div>
    <nav class="col-9">
      <a href="/index.html">Home</a>
      <a href="/menu.html">Menu</a>
      <a href="/reservations.html">Reservations</a>
      <span class="dropdown-nav">
        <a href="/events.html">Events</a>
        <div class="dropdown-content">
          <ul>
            <li>
              <a href="/weddings.html">Weddings</a>
            </li>
            <li>
              <a href="/retreats.html">Retreats</a>
            </li>
            <li>
              <a href="/pool-parties.html">Pool Parties</a>
            </li>
            <li>
              <a href="/dances.html">Dances</a>
            </li>
          </ul>
        </div>
      </span>
      <a href="/staff.html">Staff</a>
    </nav>
    </header>

    {{content}}

    <footer class="grid dark-section text-center">
      <div  class="col-12">
        <nav class="text-right">
          <a href= class="icon-position" "https://www.facebook.com/lideahcate">
            <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
          </a>
          <a href= class="icon-position" "www.instagram.com">
            <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
          </a>
          <a href="/index.html">Home</a>
          <a href="/menu.html">Menu</a>
          <a href="/reservations.html">Reservations</a>
          <a href="/events.html">Events</a>
          <a href="/staff.html">Staff</a>
        </nav>
      </div>
    </footer>
  </body>
</html>
