<!DOCTYPE HTML>
<html>
  <head>
    <title> {{page.title}} </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.4.0/gridlex.css" />
    <script src="https://use.fontawesome.com/a85b98fd69.js"></script>
    <link rel="stylesheet" href="style.css" />
    <!-- find out what goes in the head and put it in the head answer: css fonts and seo things tab id words-->
  </head>
  <body>
    <header>
      <img src="images/dragonfly-logo2.png" />
    <nav>
      <a href="#"></a>
      <a href="#"></a>
      <a href="#"></a>
      <a href="#"></a>
      <a href="#"></a>
    </nav>
    </header>

{{content}}

    <footer>
      <a href="www.facebook.com"><i class="fa fa-facebook-square" aria-hidden="true"></i>facebook</a>
      <a href=www.instagram.com><i class="fa fa-instagram" aria-hidden="true"></i>instagram</a>
      <nav>
        <a href="#"></a>
        <a href="#"></a>
        <a href="#"></a>
        <a href="#"></a>
        <a href="#"></a>
      </nav>
    </footer>
  </body>
</html>
