*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  border:1px solid lightgrey;
}

body{
  font-family: 'Lora', serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  text-transform: capitalize;
  margin: 0 0 15px 0;
}

p{
  margin: 0 0 15px 0;
  line-height: 1.5;
}

.logo img{
  width: 12%
}

nav{
  text-align: right;
}

a{
  text-decoration: none;
  letter-spacing: 1.5;
  word-spacing: 10px;
}

a:hover{
  color: darkorchid;
}

.banner{
  background-image: url("/images/villa.jpg");
  background-size: cover;
  min-height: 80vh;
  text-transform: capitalize;
}

.banner h1{
  font-size: 70px;
}

.banner h2{
  font-size: 20px;
}

.center {
  text-align: center;
}

.welcome-section{
  padding: 5% 20%;
}

.welcome-section h2{
  color: whitesmoke;
}
.welcome-section div{
  padding: 3%;
  background-color: lightslategrey;
  color: whitesmoke;
}

.menu-blurb h3{
  font-size: 20px;
}

.menu-blurb div{
  padding: 3%;
}

.footer{
  text-align: right;
}

/*-------menu page--------*/
.menu-block .menu-item-image{
  height: 75vh;
  /*-----set the position and size of the background images-----*/
}
